@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,400&display=swap');
/*var global*/
:root{
    --primary-color: rgb(13, 106, 130);
    --second-color: rgb(75, 65, 65);
}
*{
    box-sizing: border-box;
    outline: 0;
    
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
    font-family: 'Open sans', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 1.3em;
    line-height: 1.5em;
}

.container{
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgb(226, 221, 221);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.76);
    border-radius: 50px 5px 50px 5px;
}

label, input, button{
    width: 100%;
}
input{
    height: 35px;
}
button{
    background-color:aqua ;
    color: rgb(0, 0, 0);
    height: 35px;
    text-align: center;
    margin-top: 10px;
    outline: none;
    border: none;
    cursor: pointer;
}

/*erro */ 
.error-text{
    border-bottom: 1px solid rgba(214, 90, 100, 0.719);
    color: red;
    font-size: 13px;
}
